/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

    /* These are needed for Popup */
    -fx-background-color: inherit;
    -fx-background-radius: inherit;
    -fx-background-insets: inherit;
    -fx-padding: inherit;
    
    
    
    /****************
    *                *
    * AQUA STUFF    *
    *                *
    ****************/
    -fx-text-base-color: black;
    -fx-text-fill: -fx-text-base-color;
    
    /* background color for dialogs */
    -fx-background-color: #f3f3f3;
    /*     default font */
    -fx-font-family: 'lucida-grande';
    -fx-font-size: 13.0;
    -fx-disabled-opacity: 0.6; 
    
     /* The color to use in ListView/TreeView/TableView to indicate hover. */
    -fx-cell-hover-color: rgb(182.0, 214.0, 253.0);
    
    -toggle-selected-base:linear-gradient(rgb(94.0, 94.0, 94.0) 0.0%, rgb(120.0, 120.0, 120.0) 10.0%, 
        rgb(150.0, 150.0, 150.0) 85.0%, rgb(177.0, 177.0, 177.0) 98.0%, rgb(97.0, 97.0, 97.0) 100.0%); 
    
    -toggle-armed-base:linear-gradient(rgb(87.0, 87.0, 87.0) 0.0%, rgb(113.0, 113.0, 113.0) 12.0%, 
        rgb(125.0, 125.0, 125.0) 87.0%, rgb(129.0, 129.0, 129.0) 87.1%, rgb(155.0, 155.0, 155.0) 100.0%); 

    -toggle-shadow-armed: linear-gradient(to right, rgb(87.0, 87.0, 87.0, 0.5) 0.0%, transparent 3.0%, transparent 97.0%, rgb(87.0, 87.0, 87.0, 0.5) 100.0%);
    -toggle-shadow: linear-gradient(to right, rgb(87.0, 87.0, 87.0, 0.3) 0.0%, transparent 3.0%, transparent 97.0%, rgb(87.0, 87.0, 87.0, 0.3) 100.0%);

    -choice-base: linear-gradient(rgb(255.0, 255.0, 255.0) 25.0%, rgb(243.0, 243.0, 243.0) 50.0%, rgb(236.0, 236.0, 236.0) 50.0%, rgb(243.0, 243.0, 243.0) 100.0% );
}


.mnemonic-underline {
    -fx-stroke: transparent;
}

.text {
    -fx-font-smoothing-type: lcd;
}
.thumbs-up-icon{
   -glyph-name: "THUMBS_UP";
   -glyph-size: 6em;
 }
 
 .thumbs-down-icon{
   -glyph-name: "THUMBS_DOWN";
   -glyph-size: 6em;
 }
 .addBillingBtn{
    -fx-graphic:url(../images/ic_content_paste_black_24dp.png)
    
}
